/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --title-color: #ff0070;
  --title-decor: #000028;
  --decor-corner: #ff0070;
  --button-color: #ff0070;
  --link-hover: rgba(255, 0, 112, 0.4);
  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --header-color: #db00ff;
    --title-color: #ff0070;
    --title-decor: #000028;
    --decor-corner: #ff0070;
    --button-color: #ff0070;
    --link-hover: rgba(255, 0, 112, 0.4);
    --rec-decor-visibility: visible;
  }
}
