/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
}
.decorated-zone {
}
.rec {
}
.header__theme-menu {
}
.header__theme-menu-list {
}
.header__theme-menu-item {
}
.header__theme-menu-button {
}
.header__theme-menu-button_type_light {
}
.header__theme-menu-button_active {
}
.header__theme-menu-button_type_auto {
}
.header__theme-menu-button_type_dark {
}
.header_title {
}
.header_text {
}
.title_decor {
}
.main {
}
.section {
}
.section_title {
}
.card {
}
.card_text {
}
.link {
}
.regular_title {
}
.gallery {
}
.gallery_image {
}
.footer {
}
.footer_title {
}