/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  font-family: var(--font-family, monospace);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-corner);
  border-right: 1px solid var(--decor-corner);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-corner);
  border-left: 1px solid var(--decor-corner);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rec {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: var(--regular-font-size, 18px);
  font-family: inherit;
  font-weight: 400;
  line-height: 139%;
  text-transform: uppercase;
  padding-right: 9px;
  box-sizing: border-box;
}

.rec::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-self: center;
  padding: 2px 13px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: var(--regular-font-size, 18px);
  font-weight: 400;
  line-height: 100%;
  min-height: 26px;
  text-transform: lowercase;
  color: var(--button-color);
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--link-hover);
}

.header__theme-menu-button_active:hover {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header_title {
  justify-self: start;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
}

.title_decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: var(--regular-font-size, 18px);
  line-height: 130%;
  font-weight: 700;
}

.main {
  margin-block: 40px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
  padding-inline: 10px;
}

.section_title {
  color: var(--title-color);
  font-family: inherit;
  font-size: var(--regular-font-size, 18px);
  font-weight: 700;
  line-height: 130%;
}

.card {
  display: grid;
  gap: 10px;
}

.card_text {
  color: var(--text-color);
  font-family: inherit;
  font-size: var(--regular-font-size, 18px);
  font-weight: 400;
  line-height: 130%;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  border: none;
}

.regular_title {
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: 10px;
  padding-inline: 10px;
}

.gallery_image {
  width: 100%;
  background-color: lightpink;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding-inline: 10px;
}

.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec {
    top: 20px;
    right: 20px;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header_text {
    max-width: 364px;
    justify-self: end;
  }

  .main {
    margin-block: 60px;
    gap: 80px;
  }

  .section {
    padding-inline: 20px;
  }

  .section_first {
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
  }

  .section_first .section_title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .section_first .card {
    grid-column: 2;
    grid-row: auto;
  }

  .section_second .section_title {
    max-width: 236px;
  }

  .section-third {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 23px auto;
    grid-auto-flow: row;
  }

  .section-third .section_title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .section-third .card {
    grid-column: 2;
    grid-row: auto;
  }

  .gallery .title_decor {
    grid-column: 1 / 4;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-inline: 20px;
  }

  .gallery_image {
    height: 100%;
    object-fit: cover;
  }

  .gallery_image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .gallery_image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery_image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery_image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery_image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding-inline: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header_text {
    max-width: 491px;
  }

  .section_title {
    max-width: 315px;
  }

  .section_first {
    grid-template-columns: auto 2fr;
  }

  .section_second .section_title {
    max-width: 315px;
    grid-column: 1 / 4;
  }

  .section_second {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_second .card {
    grid-template-rows: min-content auto;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
