/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --font-family: 'IBM Plex mono', monospace;
  --regular-font-size: 18px;
}