/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --title-color: #ff0070;
  --title-decor-color: #000028;
  --decor-corner: #ff0070;
  --button-color: #ff0070;
  --link-hover: rgba(255, 0, 112, 0.4);
  --font-family: "IBM Plex mono", monospace;
  --regular-font-size: 18px;
}
